*{
    margin: 0px;
    padding: 0px;
}

/*nav ber*/

#navber{
    display: flex;
    align-items: center;
    position: sticky;
    height: 100px;
    top: 0%;
}    
#navber::before{

    content: "";
    background-color:rgba(14, 13, 13, 0.945);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity:0.9; 
    top:0px;
    left:0px;
}

/*nav ber:ist*/

#navber ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

#navber ul li{
    list-style-type: none;
    font-size: 1.3rem;
    padding-left: 30px;
    
}
#navber ul li a{
    text-decoration: none;
    padding: 0px 27px;
    color: white;
    

}
#navber ul li a:hover{
    
    color:black;
    background-color: white;
    border-radius: 9px;
    

}