@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Libre+Bodoni:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
body{
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.sidebar{
    position: fixed;
    height: 100%;
    top: 0%;
    left: 0%;
    width: 73px;
    background: rgb(31, 26, 26);
    padding: 6px 14px ;
    transition: all 0.5s ease;

}
.sidebar.active{
    width: 240px;
}
.sidebar .logo_content .logo{
    color: #fff;
    display: flex;
    height: 50px ;
    width: 100%;
    align-items: center;
    opacity: 0;
    pointer-events: none;
}
.sidebar.active .logo_content .logo{
    opacity: 1;
    pointer-events: none;
}
.sidebar .logo_content  i{
    font-size: 28px;
    margin-right: 5px;
}
.logo_content .logo .logo_name{
    font-size: 20px;
    font-weight: 400;

}
.sidebar.active .logo_content .logo{
    opacity: 1;
}
.sidebar #btn{
    position: absolute;
    color: #fff;
    left: 50%;
    top: 6px;
    font-size: 20px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 50px;
    transform: translateX(-50%);
}
.sidebar.active #btn{
    left: 90%;
}
.sidebar ul{
    margin-top: 15px;
    /* overflow: hidden; */
    margin-right: 5px;
    
}
.sidebar.active ul li a span{
    margin-left: 12px;
}
.sidebar ul li{
    list-style: none;
    position: relative;
    font-weight: 600;
    height: 50px;
    /* padding-left: 12px; */
    width: 100%;
    margin: 10 5px;
    text-decoration: none;
    line-height: 50px;
}
.sidebar ul li .tooltip{
    position: absolute;
    left: 55px;
    top: 0%;
    transform: translateY(-50%);
    border-radius: 6px;
    line-height: 35px;
    text-align: center;
    border: 1px solid grey;
    height: 35px;
    width: 122px;
    background-color: #fff;
    box-shadow: 0 5px 10px rrgba(0,0,0,0.5);
    opacity: 0;
    pointer-events: none;
    display: block;
}
.sidebar.active ul li .tooltip{
    display: none;
}
.sidebar ul li:hover .tooltip{
    transition: all 0.3s ease;
    top: 50%;
    opacity: 1;
}

.sidebar ul li input{
    padding: 10px 37px;
    border-radius: 5px;
    position: absolute;
    outline: none;
    border: none;
    border-radius: 12px;
    background: #1d1b32;
    color: white;
    font-size: 15px;
    width: 90%;
    overflow: hidden;
    left: 2px;
    

}
.sidebar ul li .bx-search{
    position: absolute;
    z-index: 100;
    top: 2px;
    left: 1px;
    size: 10px;
    padding: 10px 12px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    transition: all 0.5s ease;
}
.sidebar ul li .bx-search:hover{
    background: #fff;
    color: #1d1b31;
}
.sidebar ul li a{
    color: #fff;
    padding-left: 12px;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    border-radius: 12px;
    white-space:nowrap;
}
.sidebar .links_name{
    opacity: 0;
}
.sidebar.active .links_name{
    opacity: 1;
}
.sidebar ul li a:hover{
    color: #11101d;
    background-color: #fff;
}
.sidebar ul li a .title{
    margin-left: 12px;
}

.sidebar .profile_content{
    position: absolute;
    color: #fff;
    bottom: 10;
    width: 200px;
    left: 0;
    /* opacity: 0; */
    /* overflow: hidden; */

}
.sidebar .profile_content .profile{
    position: relative;
    padding: 10px 16px;
    height: 60px;
    border-radius: 15px;
    /* background: #1d1b31; */
    /* overflow: hidden; */
    /* opacity: 0; */
}
 .sidebar .profile_content .profile .profile_details{
    display: flex;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    background: none;
}
.sidebar.active .profile_content .profile .profile_details{
    opacity: 1;
    pointer-events: auto;
    
}
.profile_details img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.name_job{
    margin-left: 10px;
    opacity: 0;
}
.sidebar.active  .name_job{
    opacity: 1;
}
.name_job .name{
    font-size: 15px;
    font-weight: 400;
}
.name_job .job{
    font-size: 12px;
}
#log-out{
    position: absolute;
    /* left: 105%; */
    bottom: 18px;
    font-size: larger;cursor: pointer;
    border-radius: 12px;
    text-align: center;
    transform: translateX(50%);
}
.sidebar.active #log-out{
    transform: translateX(990%);
}
.home-content{
    position: absolute;
    height: 100%;
    width: calc(100% - 78px);
    left: 78px;
    transition: all 0.5s ease;
}
.home-content .text{
    font-size: 25px;
    font-weight: 500;
    color: #1d1b31;
    margin: 12px;
}
.sidebar.active ~ .home-content{
    left: 240px;
    width: calc(100% - 240px);
}