*{
    padding: 0%;
    margin: 0%;
}
.footer-box{
    bottom: 0%;
    height: 130px;
    position: sticky;
    background-color: gray;
    color: antiquewhite;
    
    

    
}
.center{
    text-align: center;
    padding: 50px;
}